@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}

a {
    transition: all 300ms ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
    outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #000000;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*header css*/
.top-header {
    background: #fef7f6;
    padding: 10px 0;
}

.top-header span {
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    padding-right: 15px;
    position: relative;
}

/*navbar design*/
.navbar {
    padding: 0;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav li a {
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 0.8;
    padding: 40px 15px;
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    color: #ff5353;
}

.icon {
    color: #000000;
    display: inline-block;
    font-size: 14px;
}

.icon:hover {
    color: #ff5353;
}

.navbar .icon {
    position: relative;
    padding: 10px;
    font-size: 18px;
}

.itemCount {
    position: absolute;
    background-color: #ff5353;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 8px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
}

/*banner-section*/
section {
    display: block;
    position: relative;
    padding: 50px 0;
    width: 100%;
}

.banner, .banner02 {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0;
}

.tagline {
    color: #565656;
    display: inline-block;
    font-weight: 500;
    line-height: 0.8;
    letter-spacing: 2.8px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.btn, .btn-default {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: capitalize;
    min-width: 170px;
    padding: 20px 25px;
}

.btn-default {
    background-color: #ff5353;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}

.btn-default:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
}

.banner .banner-content, .banner02 .banner-content {
    width: 100%;
    text-align: center;
}

.banner .banner-content h1, .banner02 .banner-content h1 {
    font-weight: 500;
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 45px;
}

.banner .banner-content .tagline, .banner02 .banner-content .tagline {
    display: block;
    margin-bottom: 15px;
}

/*featured section*/
.sec-heading{
    position: relative;
    margin-bottom: 80px;
}
.sec-title{
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
.product-item{
    position: relative;
}
.product-item .product-thumb{
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.action-links{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms ease;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.action-links .icon{
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
}
.action-links .icon:hover{
    background-color: #ff5353;
    color: #fff;
}
.product-content{
    text-align: center;
}
.product-item .product-content .product-name{
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-transform: capitalize;
    margin-bottom: 0;
}
.product-item .product-content .product-name a{
    color: #888;
}
.product-item .product-content .product-name a:hover{
    color: #ff5353;
}
.ratings a{
    display: inline-block;
    font-size: 13px;
    color: #ff5353;
}
.product-item .product-content .price{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom:0;
}
.product-item:hover .action-links{
    opacity: 1;
    visibility: visible;
}
/*banner02*/
.banner02{
    background: #e9e1d8;
}
.banner02 .banner-content h1{
    font-family: 'Dancing Script',cursive;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 33px;
}
.banner02 .banner-content h4{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 54px;
}

/*features*/
.featureBox{
    border: 1px solid #ebeef0;
    position: relative;
    padding: 25px;
    text-align: center;
}
.featureBox .feat-icon{
    max-width: 56px;
    margin: 0 auto 27px;
}
.featureBox h5 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.featureBox p{
    margin-bottom: 0;
    color: #888888;
    line-height: 18px;
}

/*blog post*/
.post-item img{
    margin-bottom: 25px;
}
.post-item .date{
    padding-left: 22px;
}
.post-item .date:before{
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff5353;
    border-radius: 2px;
    width: 12px;
    height: 6px;
}
.post-item .post-title{
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.post-item .post-title a{
    color: #000;
    display: block;
}
.post-item .post-title a:hover{
    color: #ff5353;
}
.meta-tags a:first-child{
    margin-right: 25px;
}
.post-meta{
    position: relative;
    color: #888;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
}
.post-meta i{
    vertical-align: middle;
    margin-right: 10px;
}
.post-meta i:hover{
    color: #ff5353;
}
.date{
    font-size: 13px;
}
/*follow-us css*/
.instagram a{
    position: relative;
    display: block;
    overflow: hidden;
}
.instagram a i{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}
.instagram a:before{
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,83,83,0.7);
    height: 100%;
    width: 100%;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}
.instagram a:hover i{
    opacity: 1;
    visibility: visible;
    text-align: center;
}
.instagram a:hover::before{
    top: 0;
    opacity: 1;
    visibility: visible;
}

